/* Vos customisations des classes de Bootstrap */
*{
    box-sizing: border-box;
 }
 .navbar{
     margin: 0px;
 }
 
 
 .mycol{
     background-image: url("../images/hero-image.jpg");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;

 }
 
 .svg:hover{
    background-size: contain;
     box-shadow: 10px 10px 10px rgb(89, 86, 86);
     border:5px dotted rgb(11, 11, 11);
     border-radius: 100%;
     border-block-style: solid;
     border-block-color: pink lightblue;    
 }
 
 
 .btn:hover{
     background-color: rgb(165, 42, 79);
 }
 .bg-danger{
     padding-left:200px;
     padding-top:120px;
    
     height: 200px;
 }
 .c1{
     position:fixed;
     bottom: 2%;
     right: 1%;
 }
 .cc{
     font-size:40px;
   
 }
 .ccc{
     font-size:x-large;
 }
 .ccc:hover{
     font-size: xx-large;
     
     
    
 }
 
 
 .navigation {
     margin-left: 60%;
 }
 
 
 /* Responsive Styling */
 
 @media (max-width: 1199px) {
 
 }
 
 @media (max-width: 991px) {
 
 }
 
 @media (max-width: 767px) {
    
 
 }
 *{
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     margin: 0%;
 }
 